/*========================================
  Global variables
==========================================*/
/* line 106, icons/*.png */
.icons-sprite, .icons-arrow-closed, .icons-arrow-opened, .icons-bottom_item, .icons-calc, .icons-cart, .icons-list-arrow, .icons-menu-arr-right_hover, .icons-menu-arrow-right, .icons-user {
  background: url('../img/icons.png') no-repeat;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-closed {
  background-position: 0 -126px;
  height: 7px;
  width: 8px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-opened {
  background-position: 0 -118px;
  height: 8px;
  width: 9px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bottom_item {
  background-position: 0 -47px;
  height: 29px;
  width: 31px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calc {
  background-position: 0 0;
  height: 29px;
  width: 30px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cart {
  background-position: 0 -86px;
  height: 14px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list-arrow {
  background-position: 0 -76px;
  height: 10px;
  width: 10px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-menu-arr-right_hover {
  background-position: 0 -100px;
  height: 9px;
  width: 7px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-menu-arrow-right {
  background-position: 0 -109px;
  height: 9px;
  width: 7px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user {
  background-position: 0 -29px;
  height: 18px;
  width: 12px;
}

/* 18px */
/* ==========  Correction classes ========== */
/* line 2, ../sass/other/_helpers.scss */
.nomargin {
  margin: 0 !important;
}

/* Correction Width */
/* line 8, ../sass/other/_helpers.scss */
.w50 {
  width: 50px;
}

/* line 12, ../sass/other/_helpers.scss */
.w100 {
  width: 100px;
}

/* line 16, ../sass/other/_helpers.scss */
.w150 {
  width: 150px;
}

/* line 20, ../sass/other/_helpers.scss */
.w200 {
  width: 200px;
}

/* line 24, ../sass/other/_helpers.scss */
.w220 {
  width: 220px;
}

/* line 28, ../sass/other/_helpers.scss */
.w300 {
  width: 300px;
}

/* line 32, ../sass/other/_helpers.scss */
.w940 {
  max-width: 940px;
  margin: 0 auto;
}

/* + Correction margins + */
/* line 38, ../sass/other/_helpers.scss */
.m10 {
  margin: 10px 0;
}

/* line 42, ../sass/other/_helpers.scss */
.m15 {
  margin: 15px 0;
}

/* line 46, ../sass/other/_helpers.scss */
.m20 {
  margin: 20px 0;
}

/* line 50, ../sass/other/_helpers.scss */
.mr0 {
  margin-right: 0px !important;
}

/* line 54, ../sass/other/_helpers.scss */
.mr5 {
  margin-right: 5px;
}

/* line 58, ../sass/other/_helpers.scss */
.mr10 {
  margin-right: 10px;
}

/* line 62, ../sass/other/_helpers.scss */
.mr15 {
  margin-right: 15px;
}

/* line 66, ../sass/other/_helpers.scss */
.mr20 {
  margin-right: 20px;
}

/* line 70, ../sass/other/_helpers.scss */
.mr25 {
  margin-right: 25px;
}

/* line 74, ../sass/other/_helpers.scss */
.mr30 {
  margin-right: 30px;
}

/* line 78, ../sass/other/_helpers.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 82, ../sass/other/_helpers.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 86, ../sass/other/_helpers.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 90, ../sass/other/_helpers.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 94, ../sass/other/_helpers.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 98, ../sass/other/_helpers.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 102, ../sass/other/_helpers.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 106, ../sass/other/_helpers.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 110, ../sass/other/_helpers.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 114, ../sass/other/_helpers.scss */
.mt5 {
  margin-top: 5px;
}

/* line 118, ../sass/other/_helpers.scss */
.mt8 {
  margin-top: 8px;
}

/* line 122, ../sass/other/_helpers.scss */
.mt10 {
  margin-top: 10px;
}

/* line 126, ../sass/other/_helpers.scss */
.mt12 {
  margin-top: 12px;
}

/* line 130, ../sass/other/_helpers.scss */
.mt15 {
  margin-top: 15px;
}

/* line 134, ../sass/other/_helpers.scss */
.mt20 {
  margin-top: 20px;
}

/* line 138, ../sass/other/_helpers.scss */
.mt25 {
  margin-top: 25px;
}

/* line 142, ../sass/other/_helpers.scss */
.mt30 {
  margin-top: 30px;
}

/* line 146, ../sass/other/_helpers.scss */
.mt35 {
  margin-top: 35px;
}

/* line 150, ../sass/other/_helpers.scss */
.mt40 {
  margin-top: 40px;
}

/* line 154, ../sass/other/_helpers.scss */
.ml0 {
  margin-left: 0px !important;
}

/* line 158, ../sass/other/_helpers.scss */
.ml5 {
  margin-left: 5px;
}

/* line 162, ../sass/other/_helpers.scss */
.ml10 {
  margin-left: 10px;
}

/* line 166, ../sass/other/_helpers.scss */
.ml15 {
  margin-left: 15px;
}

/* line 170, ../sass/other/_helpers.scss */
.ml20 {
  margin-left: 20px;
}

/* line 174, ../sass/other/_helpers.scss */
.ml25 {
  margin-left: 25px;
}

/* line 178, ../sass/other/_helpers.scss */
.ml30 {
  margin-left: 30px;
}

/* + Correction paddings + */
/* line 183, ../sass/other/_helpers.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 187, ../sass/other/_helpers.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 191, ../sass/other/_helpers.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 195, ../sass/other/_helpers.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 199, ../sass/other/_helpers.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 203, ../sass/other/_helpers.scss */
.pb25 {
  padding-bottom: 25px;
}

/* line 207, ../sass/other/_helpers.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 211, ../sass/other/_helpers.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 215, ../sass/other/_helpers.scss */
.pt5 {
  padding-top: 5px;
}

/* line 219, ../sass/other/_helpers.scss */
.pt10 {
  padding-top: 10px;
}

/* line 223, ../sass/other/_helpers.scss */
.pt15 {
  padding-top: 15px;
}

/* line 227, ../sass/other/_helpers.scss */
.pt20 {
  padding-top: 20px;
}

/* line 231, ../sass/other/_helpers.scss */
.pt25 {
  padding-top: 25px;
}

/* line 235, ../sass/other/_helpers.scss */
.pt30 {
  padding-top: 30px;
}

/* clearfix */
/* line 240, ../sass/other/_helpers.scss */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* line 246, ../sass/other/_helpers.scss */
.relative {
  position: relative;
}

/* line 250, ../sass/other/_helpers.scss */
.left {
  float: left;
}

/* line 254, ../sass/other/_helpers.scss */
.right {
  float: right;
}

/* line 257, ../sass/other/_helpers.scss */
.t-right {
  text-align: right;
}

/* line 260, ../sass/other/_helpers.scss */
.hide {
  display: none !important;
}

/* line 263, ../sass/other/_helpers.scss */
.show {
  display: block !important;
}

/* line 266, ../sass/other/_helpers.scss */
.icons {
  display: inline-block;
}

/* line 1, ../sass/typography/_typo.scss */
body {
  font-size: 12px;
  color: #7f7f7f;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
}

/* line 8, ../sass/typography/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #424953;
  line-height: 1;
  margin-top: 0;
}

/* line 10, ../sass/typography/_typo.scss */
h1 {
  font-size: 1.875em;
  margin-bottom: 20px;
}

/* line 11, ../sass/typography/_typo.scss */
h2 {
  font-size: 1.500em;
  margin-bottom: 20px;
}

/* line 12, ../sass/typography/_typo.scss */
h3 {
  font-size: 1.250em;
  margin-bottom: 15px;
}

/* line 13, ../sass/typography/_typo.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 1.25em;
}

/* line 14, ../sass/typography/_typo.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 15, ../sass/typography/_typo.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 17, ../sass/typography/_typo.scss */
p {
  margin: 0 0 1em;
  font-family: 'Roboto';
}

/* line 19, ../sass/typography/_typo.scss */
a {
  color: #0d75b0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
/* line 23, ../sass/typography/_typo.scss */
a:hover, a:focus {
  color: #de4900;
  text-decoration: underline;
}
/* line 27, ../sass/typography/_typo.scss */
a:focus {
  text-decoration: underline;
}

/* line 31, ../sass/typography/_typo.scss */
ul, ol {
  margin: 0;
  padding-left: 0;
}

/* line 33, ../sass/typography/_typo.scss */
ul {
  list-style-type: none;
}

/* line 34, ../sass/typography/_typo.scss */
ol {
  list-style-type: decimal;
}

/* line 1, ../sass/layouts/_layout.scss */
html, body {
  height: 100%;
}

/* line 5, ../sass/layouts/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/layouts/_layout.scss */
#sv-wrapper {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/*
 * @subsection header
 */
/*
 * @subsection middle
 */
/* line 28, ../sass/layouts/_layout.scss */
#sv-middle {
  width: 100%;
  padding: 0 20px 100px;
  position: relative;
}

/* line 34, ../sass/layouts/_layout.scss */
#sv-container {
  width: 100%;
  float: left;
}

/* line 39, ../sass/layouts/_layout.scss */
#sv-content {
  padding: 0 250px 0 250px;
}

/* line 43, ../sass/layouts/_layout.scss */
#sv-content-lc {
  padding: 0 0 0 250px;
}

/* line 47, ../sass/layouts/_layout.scss */
#sv-content-rc {
  padding: 0 250px 0 0;
}

/* line 51, ../sass/layouts/_layout.scss */
#sv-content-full {
  padding: 0;
}

/*
 * @subsection left sidebar
 */
/* line 59, ../sass/layouts/_layout.scss */
#sv-leftcolumn {
  float: left;
  width: 250px;
  margin-left: -100%;
}

/*
 * @subsection right sidebar
 */
/* line 69, ../sass/layouts/_layout.scss */
#sv-rightcolumn {
  float: left;
  width: 250px;
  margin-left: -250px;
}

/* line 75, ../sass/layouts/_layout.scss */
.sv-page, #sv-content-lc .sv-page {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 20px 20px 20px 40px;
  position: relative;
  z-index: 2;
}

/*
 * @subsection clearfix
 */
/* line 87, ../sass/layouts/_layout.scss */
.cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* line 94, ../sass/layouts/_layout.scss */
.cf {
  zoom: 1;
}

/*
 * @subsection media print
 */
@media print {
  /* line 106, ../sass/layouts/_layout.scss */
  #sv-leftcolumn,
  #sv-footer,
  #mainnav,
  #sv-rightcolumn {
    display: none;
  }

  /* line 109, ../sass/layouts/_layout.scss */
  #sv-container {
    float: none;
  }

  /* line 115, ../sass/layouts/_layout.scss */
  #sv-content,
  #sv-content-lc,
  #sv-content-rc,
  #sv-content-full {
    width: 100%;
    padding: 0;
  }
}
/* line 1, ../sass/layouts/_grid.scss */
.row:after {
  clear: both;
  display: table;
  content: "";
}

/* line 18, ../sass/layouts/_grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  /*	padding-right: 15px;
  	padding-left: 15px;*/
  border: 1px solid red;
}

/* line 37, ../sass/layouts/_grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}

/* line 41, ../sass/layouts/_grid.scss */
.col-1 {
  width: 8.333333333333332%;
  /* 80 / 960 */
}

/* line 45, ../sass/layouts/_grid.scss */
.col-2 {
  width: 16.666666666666664%;
  /* 160 / 960 */
}

/* line 49, ../sass/layouts/_grid.scss */
.col-3 {
  width: 25%;
  /* 240 / 960 */
}

/* line 53, ../sass/layouts/_grid.scss */
.col-4 {
  width: 33.33333333333333%;
  /* 320 / 960 */
}

/* line 57, ../sass/layouts/_grid.scss */
.col-5 {
  width: 41.66666666666667%;
  /* 400 / 960 */
}

/* line 61, ../sass/layouts/_grid.scss */
.col-6 {
  width: 50%;
  /* 480 / 960 */
}

/* line 65, ../sass/layouts/_grid.scss */
.col-7 {
  width: 58.333333333333336%;
  /* 560 / 960 */
}

/* line 69, ../sass/layouts/_grid.scss */
.col-8 {
  width: 66.66666666666666%;
  /* 640 / 960 */
}

/* line 73, ../sass/layouts/_grid.scss */
.col-9 {
  width: 75%;
  /* 720 / 960 */
}

/* line 77, ../sass/layouts/_grid.scss */
.col-10 {
  width: 83.33333333333334%;
  /* 800 / 960 */
}

/* line 81, ../sass/layouts/_grid.scss */
.col-11 {
  width: 91.66666666666666%;
  /* 880 / 960 */
}

/* line 85, ../sass/layouts/_grid.scss */
.col-12 {
  width: 100%;
  /* 960 / 960 */
}

/* line 3, ../sass/elements/_header.scss */
#sv-header .header-top {
  height: 35px;
  line-height: 35px;
  max-width: 1280px;
  margin: 0 auto;
  min-width: 960px;
  padding: 0 10px;
  overflow: hidden;
}
/* line 12, ../sass/elements/_header.scss */
#sv-header .header-top .wellcome a {
  text-decoration: underline;
}
/* line 17, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li {
  float: left;
  margin-left: 25px;
}
/* line 20, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li a {
  color: #000;
}
/* line 25, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li.cart a .icons {
  position: relative;
  top: 9px;
  margin-right: 7px;
}
/* line 34, ../sass/elements/_header.scss */
#sv-header .header-top .currency {
  margin-left: 50px;
}
/* line 36, ../sass/elements/_header.scss */
#sv-header .header-top .currency a {
  width: 50px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  color: #000;
}
/* line 42, ../sass/elements/_header.scss */
#sv-header .header-top .currency a:hover {
  text-decoration: none;
}
/* line 45, ../sass/elements/_header.scss */
#sv-header .header-top .currency a:first-child {
  border-right: 1px solid #fff;
}
/* line 48, ../sass/elements/_header.scss */
#sv-header .header-top .currency a.active {
  background: #ebebeb;
  font-weight: normal;
  border-bottom: 1px solid #ff5400;
}
/* line 56, ../sass/elements/_header.scss */
#sv-header .header-mid {
  height: 100px;
  background: #fff;
}
/* line 59, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn {
  min-width: 960px;
  padding: 0 10px;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 64, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .logo {
  float: left;
  width: 300px;
  text-align: center;
}
/* line 68, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .logo a {
  display: inline-block;
  margin: 25px auto 0;
}
/* line 71, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .logo a img {
  display: block;
}
/* line 76, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search {
  float: left;
}
/* line 79, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section {
  float: right;
  width: 330px;
  position: relative;
  margin-top: 35px;
  padding-left: 30px;
}
/* line 85, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section:after {
  content: "";
  background: #c9c9c9;
  width: 1px;
  position: absolute;
  left: 0;
  top: 2px;
  height: 45px;
}
/* line 95, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .request {
  width: 150px;
  float: left;
  margin-right: 20px;
}
/* line 99, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .request a {
  display: block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #095f90;
  text-align: center;
  color: #fff;
  background: #0d75b0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d75b0), color-stop(100%, #0d75b0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0d75b0 0%, #0d75b0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d75b0', endColorstr='#0d75b0',GradientType=0 );
  /* IE6-9 */
}
/* line 118, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart {
  height: 45px;
  border: 1px solid #e6e6e6;
  float: left;
  width: 120px;
  position: relative;
}
/* line 125, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title {
  cursor: pointer;
  padding-left: 5px;
}
/* line 128, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title > div {
  padding: 8px 0;
  margin: 0 auto;
  width: 70px;
  line-height: 14px;
  height: 43px;
}
/* line 134, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title > div strong {
  display: block;
  color: #000;
  position: relative;
}
/* line 138, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title > div strong .icons {
  position: absolute;
  left: -15px;
  top: 4px;
}

/*
 * @subsection footer
 */
/* line 1, ../sass/elements/_tables.scss */
.table {
  display: table;
  width: 100%;
  margin: 0 0 20px;
}

/* line 6, ../sass/elements/_tables.scss */
.thead {
  display: table-header-group;
}

/* line 9, ../sass/elements/_tables.scss */
.tfoot {
  display: table-footer-group;
}

/* line 12, ../sass/elements/_tables.scss */
.tbody {
  display: table-row-group;
}

/* line 15, ../sass/elements/_tables.scss */
.tr {
  display: table-row;
}

/* line 18, ../sass/elements/_tables.scss */
.td {
  display: table-cell;
}

/* line 21, ../sass/elements/_tables.scss */
.th {
  font-weight: bold;
  display: table-cell;
  text-align: center;
}

/* line 1, ../sass/elements/_slider.scss */
#slides {
  display: none;
  position: relative;
}
/* line 4, ../sass/elements/_slider.scss */
#slides > div span {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 45px;
  left: 0;
  padding: 1% 6%;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Roboto';
}

/* line 21, ../sass/elements/_slider.scss */
#slides .slidesjs-navigation {
  margin-top: 3px;
}

/* line 25, ../sass/elements/_slider.scss */
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

/* line 30, ../sass/elements/_slider.scss */
#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

/* line 35, ../sass/elements/_slider.scss */
.slidesjs-pagination {
  bottom: 10px;
  position: absolute;
  text-align: center;
  z-index: 10;
  left: 50%;
  height: 12px;
}

/* line 44, ../sass/elements/_slider.scss */
.slidesjs-pagination li {
  display: inline-block;
  margin: 0 3px;
}

/* line 49, ../sass/elements/_slider.scss */
.slidesjs-pagination li a {
  display: block;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: none 0.3s ease-in-out;
  -moz-transition: none 0.3s ease-in-out;
  -o-transition: none 0.3s ease-in-out;
  transition: none 0.3s ease-in-out;
  text-indent: -9999em;
  outline: none;
}

/* line 61, ../sass/elements/_slider.scss */
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background: #646155;
}

/* line 65, ../sass/elements/_slider.scss */
.slidesjs-pagination li a:hover {
  background: #646155;
}

/* line 69, ../sass/elements/_slider.scss */
.navbar {
  overflow: hidden;
}

/* line 73, ../sass/elements/_slider.scss */
#slides {
  display: none;
}

/* line 77, ../sass/elements/_slider.scss */
.container {
  margin: 0 auto;
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  /* line 83, ../sass/elements/_slider.scss */
  .container {
    width: auto;
  }
}
/* For smartphones */
@media (max-width: 480px) {
  /* line 90, ../sass/elements/_slider.scss */
  .container {
    width: auto;
  }
}
/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 97, ../sass/elements/_slider.scss */
  .container {
    width: 724px;
  }
}
/* For larger displays */
@media (min-width: 1200px) {
  /* line 104, ../sass/elements/_slider.scss */
  .container {
    width: 1170px;
  }
}
/* CARUSEL */
/* line 113, ../sass/elements/_slider.scss */
.jcarousel-skin-tango {
  margin: 0 0 30px;
  overflow: hidden;
  /* тут поставь высоту что бы при отключенных скриптах не плыло  */
}

/* line 114, ../sass/elements/_slider.scss */
.jcarousel-skin-tango li {
  float: left;
}

/* line 118, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl {
  direction: rtl;
}

/* line 121, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-container-horizontal {
  padding: 0px 40px;
}

/* line 124, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

/* line 127, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  height: 100px;
}

/* line 130, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-item {
  width: 100px;
  height: 100px;
}

/* line 134, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
}

/* line 137, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-right: 0;
}

/* line 140, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

/**
 *  Horizontal Buttons
 */
/* line 147, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 28px;
  right: 15px;
  width: 20px;
  height: 43px;
  cursor: pointer;
  background: url(../img/arrow-right.png) no-repeat;
}

/* line 156, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(../img/arrow-right.png);
}

/* line 163, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 28px;
  left: 5px;
  width: 20px;
  height: 43px;
  cursor: pointer;
  background: url(../img/arrow-left.png) no-repeat;
}

/* line 173, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(../img/arrow-right.png);
}

/* CARUSEL */
/* line 183, ../sass/elements/_slider.scss */
.content-galery-small {
  display: none;
}
/* line 185, ../sass/elements/_slider.scss */
.content-galery-small .big-pic {
  float: left;
  width: 48%;
}
/* line 189, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery {
  float: right;
  width: 48%;
}
/* line 192, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery li {
  position: relative;
  height: 170px;
  overflow: hidden;
  padding: 0;
}
/* line 197, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery li a {
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
/* line 201, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery li a:last-child {
  bottom: -10px;
  left: 95px;
  position: absolute;
}
