@charset "IBM437";
/*========================================
  Global variables
==========================================*/
/* line 154, icons/*.png */
.icons-sprite, .icons-arrow-closed, .icons-arrow-opened, .icons-bottom_item, .icons-calc, .icons-cart, .icons-close-button-gray, .icons-close-small, .icons-delete-button, .icons-icon-password, .icons-icon-user, .icons-list-arrow, .icons-menu-arr-right_hover, .icons-menu-arrow-right, .icons-user, .icons-video-arrow, #sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title.opened > div strong .icons, .side-nav > li.active > a .icons, .side-nav > li > a:hover .icons, .registration-popup-section .registration-input-container .user-icon:after, .registration-popup-section .registration-input-container .password-icon:after, .blue-bullet li:before, .brand-parts.closed .icons {
  background: url('../img/icons.png') no-repeat;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-closed {
  background-position: 0 -251px;
  height: 7px;
  width: 8px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-opened {
  background-position: 0 -233px;
  height: 8px;
  width: 9px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bottom_item {
  background-position: 0 -132px;
  height: 29px;
  width: 31px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calc {
  background-position: 0 -38px;
  height: 29px;
  width: 30px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cart {
  background-position: 0 -201px;
  height: 14px;
  width: 15px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close-button-gray {
  background-position: 0 -67px;
  height: 26px;
  width: 25px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close-small {
  background-position: 0 -93px;
  height: 21px;
  width: 20px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delete-button {
  background-position: 0 0;
  height: 38px;
  width: 38px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon-password {
  background-position: 0 -186px;
  height: 15px;
  width: 7px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon-user {
  background-position: 0 -161px;
  height: 15px;
  width: 15px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list-arrow {
  background-position: 0 -176px;
  height: 10px;
  width: 10px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-menu-arr-right_hover {
  background-position: 0 -215px;
  height: 9px;
  width: 7px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-menu-arrow-right {
  background-position: 0 -224px;
  height: 9px;
  width: 7px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user {
  background-position: 0 -114px;
  height: 18px;
  width: 12px;
}

/* line 60, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-video-arrow {
  background-position: 0 -241px;
  height: 10px;
  width: 8px;
}

/* 18px */
/* ==========  Correction classes ========== */
/* line 2, ../sass/other/_helpers.scss */
.nomargin {
  margin: 0 !important;
}

/* Correction Width */
/* line 8, ../sass/other/_helpers.scss */
.w50 {
  width: 50px;
}

/* line 12, ../sass/other/_helpers.scss */
.w100 {
  width: 100px;
}

/* line 16, ../sass/other/_helpers.scss */
.w150 {
  width: 150px;
}

/* line 19, ../sass/other/_helpers.scss */
.w190 {
  width: 190px;
}

/* line 22, ../sass/other/_helpers.scss */
.w200 {
  width: 200px;
}

/* line 26, ../sass/other/_helpers.scss */
.w220 {
  width: 220px;
}

/* line 30, ../sass/other/_helpers.scss */
.w300 {
  width: 300px;
}

/* line 34, ../sass/other/_helpers.scss */
.w940 {
  max-width: 940px;
  margin: 0 auto;
}

/* + Correction margins + */
/* line 40, ../sass/other/_helpers.scss */
.m10 {
  margin: 10px 0;
}

/* line 44, ../sass/other/_helpers.scss */
.m15 {
  margin: 15px 0;
}

/* line 48, ../sass/other/_helpers.scss */
.m20 {
  margin: 20px 0;
}

/* line 52, ../sass/other/_helpers.scss */
.mr0 {
  margin-right: 0px !important;
}

/* line 56, ../sass/other/_helpers.scss */
.mr5 {
  margin-right: 5px;
}

/* line 60, ../sass/other/_helpers.scss */
.mr10 {
  margin-right: 10px;
}

/* line 64, ../sass/other/_helpers.scss */
.mr15 {
  margin-right: 15px;
}

/* line 68, ../sass/other/_helpers.scss */
.mr20 {
  margin-right: 20px;
}

/* line 72, ../sass/other/_helpers.scss */
.mr25 {
  margin-right: 25px;
}

/* line 76, ../sass/other/_helpers.scss */
.mr30 {
  margin-right: 30px;
}

/* line 79, ../sass/other/_helpers.scss */
.mr55 {
  margin-right: 55px;
}

/* line 82, ../sass/other/_helpers.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 86, ../sass/other/_helpers.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 90, ../sass/other/_helpers.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 94, ../sass/other/_helpers.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 98, ../sass/other/_helpers.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 102, ../sass/other/_helpers.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 106, ../sass/other/_helpers.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 110, ../sass/other/_helpers.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 114, ../sass/other/_helpers.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 118, ../sass/other/_helpers.scss */
.mt5 {
  margin-top: 5px;
}

/* line 122, ../sass/other/_helpers.scss */
.mt8 {
  margin-top: 8px;
}

/* line 126, ../sass/other/_helpers.scss */
.mt10 {
  margin-top: 10px;
}

/* line 130, ../sass/other/_helpers.scss */
.mt12 {
  margin-top: 12px;
}

/* line 134, ../sass/other/_helpers.scss */
.mt15 {
  margin-top: 15px;
}

/* line 138, ../sass/other/_helpers.scss */
.mt20 {
  margin-top: 20px;
}

/* line 142, ../sass/other/_helpers.scss */
.mt25 {
  margin-top: 25px;
}

/* line 146, ../sass/other/_helpers.scss */
.mt30 {
  margin-top: 30px;
}

/* line 150, ../sass/other/_helpers.scss */
.mt35 {
  margin-top: 35px;
}

/* line 154, ../sass/other/_helpers.scss */
.mt40 {
  margin-top: 40px;
}

/* line 158, ../sass/other/_helpers.scss */
.ml0 {
  margin-left: 0px !important;
}

/* line 162, ../sass/other/_helpers.scss */
.ml5 {
  margin-left: 5px;
}

/* line 166, ../sass/other/_helpers.scss */
.ml10 {
  margin-left: 10px;
}

/* line 170, ../sass/other/_helpers.scss */
.ml15 {
  margin-left: 15px;
}

/* line 174, ../sass/other/_helpers.scss */
.ml20 {
  margin-left: 20px;
}

/* line 178, ../sass/other/_helpers.scss */
.ml25 {
  margin-left: 25px;
}

/* line 182, ../sass/other/_helpers.scss */
.ml30 {
  margin-left: 30px;
}

/* + Correction paddings + */
/* line 187, ../sass/other/_helpers.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 191, ../sass/other/_helpers.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 195, ../sass/other/_helpers.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 199, ../sass/other/_helpers.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 203, ../sass/other/_helpers.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 207, ../sass/other/_helpers.scss */
.pb25 {
  padding-bottom: 25px;
}

/* line 211, ../sass/other/_helpers.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 215, ../sass/other/_helpers.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 219, ../sass/other/_helpers.scss */
.pt5 {
  padding-top: 5px;
}

/* line 223, ../sass/other/_helpers.scss */
.pt10 {
  padding-top: 10px;
}

/* line 227, ../sass/other/_helpers.scss */
.pt15 {
  padding-top: 15px;
}

/* line 231, ../sass/other/_helpers.scss */
.pt20 {
  padding-top: 20px;
}

/* line 235, ../sass/other/_helpers.scss */
.pt25 {
  padding-top: 25px;
}

/* line 239, ../sass/other/_helpers.scss */
.pt30 {
  padding-top: 30px;
}

/* clearfix */
/* line 244, ../sass/other/_helpers.scss */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* line 250, ../sass/other/_helpers.scss */
.relative {
  position: relative;
}

/* line 254, ../sass/other/_helpers.scss */
.left {
  float: left;
}

/* line 258, ../sass/other/_helpers.scss */
.right {
  float: right;
}

/* line 261, ../sass/other/_helpers.scss */
.t-right {
  text-align: right;
}

/* line 264, ../sass/other/_helpers.scss */
.hide {
  display: none !important;
}

/* line 267, ../sass/other/_helpers.scss */
.show {
  display: block !important;
}

/* line 270, ../sass/other/_helpers.scss */
.icons {
  display: inline-block;
}

/* line 273, ../sass/other/_helpers.scss */
.black {
  color: #000;
}

/* line 276, ../sass/other/_helpers.scss */
.white {
  color: #fff;
}

/* line 1, ../sass/typography/_typo.scss */
body {
  font-size: 12px;
  color: #7f7f7f;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
}

/* line 8, ../sass/typography/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #424953;
  line-height: 1;
  margin-top: 0;
}

/* line 10, ../sass/typography/_typo.scss */
h1 {
  font-size: 1.875em;
  margin-bottom: 20px;
}

/* line 11, ../sass/typography/_typo.scss */
h2 {
  font-size: 1.500em;
  margin-bottom: 20px;
}

/* line 12, ../sass/typography/_typo.scss */
h3 {
  font-size: 1.250em;
  margin-bottom: 15px;
}

/* line 13, ../sass/typography/_typo.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 1.25em;
}

/* line 14, ../sass/typography/_typo.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 15, ../sass/typography/_typo.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 17, ../sass/typography/_typo.scss */
p {
  margin: 0 0 15px;
}

/* line 19, ../sass/typography/_typo.scss */
a {
  color: #0d75b0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
/* line 23, ../sass/typography/_typo.scss */
a:hover, a:focus {
  color: #de4900;
}

/* line 27, ../sass/typography/_typo.scss */
ul, ol {
  margin: 0;
  padding-left: 0;
}

/* line 29, ../sass/typography/_typo.scss */
ul {
  list-style-type: none;
}

/* line 30, ../sass/typography/_typo.scss */
ol {
  list-style-type: decimal;
}

/* line 1, ../sass/layouts/_layout.scss */
html, body {
  height: 100%;
}

/* line 5, ../sass/layouts/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/layouts/_layout.scss */
#sv-wrapper {
  max-width: 1280px;
  min-height: 100%;
  padding: 10px 10px 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/*
 * @subsection header
 */
/*
 * @subsection middle
 */
/* line 29, ../sass/layouts/_layout.scss */
#sv-middle {
  width: 100%;
  padding: 0 0 20px;
  position: relative;
}

/* line 35, ../sass/layouts/_layout.scss */
#sv-container {
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
}

/* line 42, ../sass/layouts/_layout.scss */
#sv-content {
  padding: 0 300px 0 300px;
}

/* line 47, ../sass/layouts/_layout.scss */
#sv-content-lc {
  padding: 0 0 0 300px;
  width: 950px;
}

/* line 53, ../sass/layouts/_layout.scss */
#sv-content-rc {
  padding: 0 300px 0 0;
}

/* line 58, ../sass/layouts/_layout.scss */
#sv-content-full {
  padding: 0;
}

/*
 * @subsection left sidebar
 */
/* line 65, ../sass/layouts/_layout.scss */
#sv-leftcolumn {
  float: left;
  width: 290px;
  margin-left: -100%;
  position: relative;
  z-index: 2;
}

/*
 * @subsection right sidebar
 */
/* line 77, ../sass/layouts/_layout.scss */
#sv-rightcolumn {
  float: left;
  width: 290px;
  margin-left: -290px;
}

/* line 82, ../sass/layouts/_layout.scss */
.right-side-bar {
  position: absolute;
  top: 10px;
  left: 960px;
  width: 340px;
}

/*
 * @subsection media print
 */
@media print {
  /* line 100, ../sass/layouts/_layout.scss */
  #sv-leftcolumn,
  #sv-footer,
  #mainnav,
  #sv-rightcolumn {
    display: none;
  }

  /* line 103, ../sass/layouts/_layout.scss */
  #sv-container {
    float: none;
  }

  /* line 109, ../sass/layouts/_layout.scss */
  #sv-content,
  #sv-content-lc,
  #sv-content-rc,
  #sv-content-full {
    width: 100%;
    padding: 0;
  }
}
/* line 1, ../sass/layouts/_grid.scss */
.row:after {
  clear: both;
  display: table;
  content: "";
}

/* line 18, ../sass/layouts/_grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  /*	padding-right: 15px;
  	padding-left: 15px;*/
  border: 1px solid red;
}

/* line 37, ../sass/layouts/_grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}

/* line 41, ../sass/layouts/_grid.scss */
.col-1 {
  width: 8.333333333333332%;
  /* 80 / 960 */
}

/* line 45, ../sass/layouts/_grid.scss */
.col-2 {
  width: 16.666666666666664%;
  /* 160 / 960 */
}

/* line 49, ../sass/layouts/_grid.scss */
.col-3 {
  width: 25%;
  /* 240 / 960 */
}

/* line 53, ../sass/layouts/_grid.scss */
.col-4 {
  width: 33.33333333333333%;
  /* 320 / 960 */
}

/* line 57, ../sass/layouts/_grid.scss */
.col-5 {
  width: 41.66666666666667%;
  /* 400 / 960 */
}

/* line 61, ../sass/layouts/_grid.scss */
.col-6 {
  width: 50%;
  /* 480 / 960 */
}

/* line 65, ../sass/layouts/_grid.scss */
.col-7 {
  width: 58.333333333333336%;
  /* 560 / 960 */
}

/* line 69, ../sass/layouts/_grid.scss */
.col-8 {
  width: 66.66666666666666%;
  /* 640 / 960 */
}

/* line 73, ../sass/layouts/_grid.scss */
.col-9 {
  width: 75%;
  /* 720 / 960 */
}

/* line 77, ../sass/layouts/_grid.scss */
.col-10 {
  width: 83.33333333333334%;
  /* 800 / 960 */
}

/* line 81, ../sass/layouts/_grid.scss */
.col-11 {
  width: 91.66666666666666%;
  /* 880 / 960 */
}

/* line 85, ../sass/layouts/_grid.scss */
.col-12 {
  width: 100%;
  /* 960 / 960 */
}

/* line 1, ../sass/elements/_header.scss */
#sv-header {
  min-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
/* line 6, ../sass/elements/_header.scss */
#sv-header .header-top {
  height: 35px;
  line-height: 35px;
  max-width: 1280px;
  margin: 0 auto;
  min-width: 960px;
  padding: 0 10px;
}
/* line 15, ../sass/elements/_header.scss */
#sv-header .header-top .wellcome a {
  text-decoration: underline;
}
/* line 20, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li {
  float: left;
  margin-left: 25px;
  position: relative;
}
/* line 24, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li > a {
  color: #000;
}
/* line 26, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li > a:hover {
  text-decoration: underline;
}
/* line 31, ../sass/elements/_header.scss */
#sv-header .header-top .header-inteactive li .icons.icons-cart {
  vertical-align: middle;
  position: relative;
  margin-right: 7px;
  top: -2px;
}
/* line 40, ../sass/elements/_header.scss */
#sv-header .header-top .currency {
  margin-left: 50px;
  height: 35px;
}
/* line 43, ../sass/elements/_header.scss */
#sv-header .header-top .currency a {
  width: 50px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  color: #000;
}
/* line 49, ../sass/elements/_header.scss */
#sv-header .header-top .currency a:hover {
  text-decoration: none;
}
/* line 52, ../sass/elements/_header.scss */
#sv-header .header-top .currency a:first-child {
  border-right: 1px solid #fff;
}
/* line 55, ../sass/elements/_header.scss */
#sv-header .header-top .currency a.active {
  background: #ebebeb;
  font-weight: normal;
  border-bottom: 1px solid #ff5400;
  cursor: default;
}
/* line 64, ../sass/elements/_header.scss */
#sv-header .header-mid {
  height: 100px;
  background: #fff;
  min-width: 960px;
}
/* line 68, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn {
  min-width: 960px;
  padding: 0 10px;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 73, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .logo {
  float: left;
  width: 300px;
  text-align: center;
}
/* line 77, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .logo a {
  display: inline-block;
  margin: 25px auto 0;
}
/* line 80, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .logo a img {
  display: block;
}
/* line 85, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search {
  margin: 0 340px 0 300px;
}
/* line 87, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-top-block {
  height: 39px;
  line-height: 39px;
  font-size: 15px;
  overflow: hidden;
  margin-right: -100px;
}
/* line 93, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-top-block .tel {
  color: #065481;
  font-weight: bold;
}
/* line 96, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-top-block .tel span {
  color: #000;
  font-weight: normal;
}
/* line 104, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container {
  height: 35px;
  position: relative;
}
/* line 107, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-input {
  height: 35px;
  border: 1px solid #c3c3c3;
  background: #f7f7f7;
}
/* line 111, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-input input[type='search'], #sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-input input[type='text'] {
  height: 100%;
  padding: 0;
  border: none;
  background: #f7f7f7;
  width: 87%;
  text-indent: 15px;
  font-size: 14px;
  padding-right: 15px;
  font-weight: bold;
}
/* line 122, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-input input[type='submit'] {
  border: medium none;
  color: #000000;
  display: block;
  float: right;
  font-size: 11px;
  height: 100%;
  text-shadow: 0 1px 0 #fff;
  width: 13%;
  border-left: 1px solid #c3c3c3;
  background: #e9e9e9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e9e9e9 0%, #acacac 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #acacac));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9e9e9 0%, #acacac 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9e9e9 0%, #acacac 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9e9e9 0%, #acacac 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e9e9e9 0%, #acacac 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#acacac', GradientType=0);
  /* IE6-9 */
}
/* line 141, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-input input[type='submit']:hover, #sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-input input[type='submit']:focus {
  background: #acacac;
  /* Old browsers */
  background: -moz-linear-gradient(top, #acacac 0%, #e9e9e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acacac), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #acacac 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #acacac 0%, #e9e9e9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #acacac 0%, #e9e9e9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #acacac 0%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acacac', endColorstr='#e9e9e9', GradientType=0);
  /* IE6-9 */
}
/* line 154, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-output {
  display: none;
  width: 87%;
  background: #fff;
  border: 1px solid #c3c3c3;
  border-top: none;
  padding: 5px 0;
}
/* line 163, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-output ul li a {
  display: block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #000;
}
/* line 169, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-output ul li a .highlight {
  color: #04527f;
  font-weight: bold;
}
/* line 173, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-container .search-output ul li a:hover {
  text-decoration: none;
  color: #000;
  background: #dbe8ef;
}
/* line 184, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .search .search-mid-block .search-discription {
  font-size: 12px;
}
/* line 192, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section {
  float: right;
  width: 310px;
  position: relative;
  margin-top: 35px;
  padding-left: 30px;
}
/* line 199, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section:after {
  content: "";
  background: #c9c9c9;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
}
/* line 209, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .request {
  width: 140px;
  float: left;
  margin-right: 20px;
}
/* line 213, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .request a {
  display: block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #095f90;
  text-align: center;
  color: #fff;
  background: #0d75b0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d75b0), color-stop(100%, #0d75b0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0d75b0 0%, #0d75b0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0d75b0 0%, #0d75b0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d75b0', endColorstr='#0d75b0', GradientType=0);
  /* IE6-9 */
}
/* line 232, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart {
  height: 45px;
  border: 1px solid #e6e6e6;
  float: left;
  width: 120px;
  position: relative;
}
/* line 238, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title {
  cursor: pointer;
  padding-left: 5px;
}
/* line 244, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title.opened > div strong .icons {
  background-position: 0 -251px;
}
/* line 250, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title > div {
  padding: 8px 0;
  margin: 0 auto;
  width: 70px;
  line-height: 14px;
  height: 43px;
}
/* line 256, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title > div strong {
  display: block;
  color: #000;
  position: relative;
}
/* line 260, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-title > div strong .icons {
  position: absolute;
  left: -15px;
  top: 2px;
}
/* line 269, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content {
  width: 308px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 44px;
  right: 0;
  display: none;
}
/* line 276, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .icons-delete-button {
  position: absolute;
  left: -19px;
  top: -19px;
  cursor: pointer;
  z-index: 2;
}
/* line 283, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item-holder {
  padding: 10px 0 10px 15px;
  background: #f5f6f7;
  border-top: 1px solid #dfe5eb;
}
/* line 287, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item-holder:first-child {
  border-top: none;
}
/* line 290, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item-holder.color2 {
  background: #fff;
}
/* line 294, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item-section {
  display: table;
  width: 100%;
}
/* line 298, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item {
  display: table-row;
  height: 50px;
}
/* line 303, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item .item-pic {
  display: table-cell;
  height: 50px;
  width: 50px;
  background: #fff;
  border: 1px solid #c0c0c0;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
}
/* line 315, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item .item-pic a img {
  vertical-align: middle;
}
/* line 320, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item .item-name {
  display: table-cell;
  line-height: 20px;
  color: #212121;
  width: 135px;
  padding: 5px 10px;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 328, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item .item-price {
  display: table-cell;
  font-weight: bold;
  line-height: 20px;
  font-size: 13px;
  color: #000;
  vertical-align: middle;
  width: 50px;
}
/* line 336, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item .item-delete {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
}
/* line 340, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .item .item-delete span {
  cursor: pointer;
}
/* line 345, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .cart-bottom {
  background: none repeat scroll 0 0 #0D6A9F;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 2px solid #0A557F;
  margin-top: -5px;
  padding: 3px 15px 5px;
  position: relative;
  top: 5px;
}
/* line 354, ../sass/elements/_header.scss */
#sv-header .header-mid .header-mid-inn .cart-section .cart .cart-content .cart-bottom .total {
  color: #fff;
  float: right;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
}

/*
 * @subsection footer
 */
/* line 5, ../sass/elements/_footer.scss */
#sv-footer {
  min-width: 960px;
}
/* line 7, ../sass/elements/_footer.scss */
#sv-footer .footer-top {
  background: #fff;
}
/* line 10, ../sass/elements/_footer.scss */
#sv-footer .footer-top .sosials {
  padding: 50px 0 30px;
  margin: 0 auto;
  width: 650px;
  font-family: helvetica-light;
  text-align: center;
  color: #000;
}
/* line 17, ../sass/elements/_footer.scss */
#sv-footer .footer-top .sosials a {
  margin: 0 10px;
}
/* line 22, ../sass/elements/_footer.scss */
#sv-footer .footer-mid {
  background: #0d75b0;
  height: 60px;
  line-height: 60px;
}
/* line 26, ../sass/elements/_footer.scss */
#sv-footer .footer-mid .inn {
  margin: 0 auto;
  width: 650px;
}
/* line 30, ../sass/elements/_footer.scss */
#sv-footer .footer-mid .text {
  text-align: center;
  font-size: 18px;
  font-family: Georgia;
  font-style: italic;
  color: #fff;
}
/* line 38, ../sass/elements/_footer.scss */
#sv-footer .footer-content {
  background: #f7f7f7;
}
/* line 40, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn {
  max-width: 1280px;
  min-width: 960px;
  margin: 0 auto;
  padding: 40px 0 30px;
}
/* line 45, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section1 {
  float: left;
  padding-left: 25px;
  width: 300px;
}
/* line 49, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section1 .logo {
  margin: 0 0 10px;
}
/* line 51, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section1 .logo img {
  display: block;
  max-width: 100%;
}
/* line 57, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section1 ul li {
  margin: 0 0 5px;
}
/* line 59, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section1 ul li a {
  color: #000;
}
/* line 61, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section1 ul li a:hover {
  text-decoration: underline;
  color: #0D75B0;
}
/* line 69, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section3 {
  float: right;
  width: 310px;
  color: #000;
}
/* line 74, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section2 {
  margin: 0 340px 0 300px;
}
/* line 76, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section2 .addr {
  float: left;
  max-width: 300px;
  margin-right: 20px;
  color: #000;
  margin-bottom: 20px;
}
/* line 82, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section2 .addr strong {
  display: block;
  margin: 0 0 10px;
}
/* line 86, ../sass/elements/_footer.scss */
#sv-footer .footer-content .inn .section2 .addr a {
  display: block;
  text-decoration: underline;
}
/* line 94, ../sass/elements/_footer.scss */
#sv-footer .footer-bottom {
  background: #fff;
}
/* line 96, ../sass/elements/_footer.scss */
#sv-footer .footer-bottom .inn {
  max-width: 1280px;
  min-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  color: #000;
}
/* line 102, ../sass/elements/_footer.scss */
#sv-footer .footer-bottom .inn .section1 {
  float: left;
  width: 300px;
  padding-left: 25px;
}
/* line 107, ../sass/elements/_footer.scss */
#sv-footer .footer-bottom .inn .section2 {
  margin: -10px 340px 0 300px;
}
/* line 110, ../sass/elements/_footer.scss */
#sv-footer .footer-bottom .inn .section3 {
  float: right;
  width: 310px;
}

/* line 2, ../sass/elements/_sidebar.scss */
.right-side-bar .shop-catalog {
  padding: 30px 30px 20px;
  background: #3a98c7;
}
/* line 7, ../sass/elements/_sidebar.scss */
.right-side-bar .side-container {
  background: #fff;
  padding: 20px 30px;
}
/* line 11, ../sass/elements/_sidebar.scss */
.right-side-bar .side-container .btn.blue.medium .icons {
  position: relative;
  margin-right: 5px;
  vertical-align: middle;
  top: -1px;
}
/* line 18, ../sass/elements/_sidebar.scss */
.right-side-bar .side-container .popupal-brands {
  margin: 0 -20px 0 -5px;
}
/* line 21, ../sass/elements/_sidebar.scss */
.right-side-bar .side-container .popupal-brands .tr > .td {
  padding: 5px;
  height: 74px;
  width: 74px;
  border-radius: 5px;
  vertical-align: top;
}
/* line 27, ../sass/elements/_sidebar.scss */
.right-side-bar .side-container .popupal-brands .tr > .td .td {
  padding: 8px;
  border: 1px solid #b8d1db;
  height: 64px;
  width: 64px;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  line-height: 1;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cfcfcf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #cfcfcf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf',GradientType=0 );
  /* IE6-9 */
}
/* line 45, ../sass/elements/_sidebar.scss */
.right-side-bar .side-container .popupal-brands .tr > .td .td img {
  max-width: 48px;
}

/* line 2, ../sass/elements/_nav.scss */
.side-nav > li {
  position: relative;
}
/* line 5, ../sass/elements/_nav.scss */
.side-nav > li:first-child > a {
  border-top: none;
}
/* line 10, ../sass/elements/_nav.scss */
.side-nav > li.active > a {
  color: #de4900;
  font-weight: bold;
}
/* line 13, ../sass/elements/_nav.scss */
.side-nav > li.active > a .icons {
  background-position: 0 -215px;
}
/* line 18, ../sass/elements/_nav.scss */
.side-nav > li > a {
  padding: 9px 0 8px;
  display: block;
  border-top: 1px solid #e0e0e0;
  color: #000;
  position: relative;
  font-size: 14px;
}
/* line 25, ../sass/elements/_nav.scss */
.side-nav > li > a:hover {
  color: #de4900;
  text-decoration: none;
}
/* line 28, ../sass/elements/_nav.scss */
.side-nav > li > a:hover .icons {
  background-position: 0 -215px;
}
/* line 33, ../sass/elements/_nav.scss */
.side-nav > li > a .icons {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -5px;
}
/* line 41, ../sass/elements/_nav.scss */
.side-nav > li:hover ul {
  display: block;
}
/* line 45, ../sass/elements/_nav.scss */
.side-nav > li ul {
  display: none;
  position: absolute;
  left: 270px;
  top: 0;
  background: #fff;
  padding-left: 20px;
  border: 1px solid #e0e0e0;
}
/* line 53, ../sass/elements/_nav.scss */
.side-nav > li ul:hover {
  display: block;
}
/* line 58, ../sass/elements/_nav.scss */
.side-nav > li ul li:first-child a {
  border-top: none;
}
/* line 62, ../sass/elements/_nav.scss */
.side-nav > li ul li a {
  color: #000;
  padding: 9px 20px 8px 0;
  display: block;
  border-top: 1px solid #e0e0e0;
  width: 250px;
}
/* line 69, ../sass/elements/_nav.scss */
.side-nav > li ul li a:hover {
  color: #de4900;
  text-decoration: none;
}

/* line 3, ../sass/elements/_tabs.scss */
.tab-section .tab-nav a {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  display: block;
  float: left;
  padding: 0 20px;
}
/* line 8, ../sass/elements/_tabs.scss */
.tab-section .tab-nav a:hover, .tab-section .tab-nav a:focus {
  text-decoration: none;
  outline: none;
}
/* line 12, ../sass/elements/_tabs.scss */
.tab-section .tab-nav a.active {
  color: #0d75b0;
  background: #fff;
}
/* line 18, ../sass/elements/_tabs.scss */
.tab-section .tab {
  display: none;
}

/* line 26, ../sass/elements/_tabs.scss */
#sv-leftcolumn .tab-section .tab-nav a {
  height: 54px;
  line-height: 54px;
}
/* line 31, ../sass/elements/_tabs.scss */
#sv-leftcolumn .tab-section .tab {
  background: #fff;
  padding: 5px 5px 5px 15px;
  margin: 0 0 10px;
}

/* line 1, ../sass/elements/_tables.scss */
.table {
  display: table;
  width: 100%;
  margin: 0 0 20px;
}

/* line 6, ../sass/elements/_tables.scss */
.thead {
  display: table-header-group;
}

/* line 9, ../sass/elements/_tables.scss */
.tfoot {
  display: table-footer-group;
}

/* line 12, ../sass/elements/_tables.scss */
.tbody {
  display: table-row-group;
}

/* line 15, ../sass/elements/_tables.scss */
.tr {
  display: table-row;
}

/* line 18, ../sass/elements/_tables.scss */
.td {
  display: table-cell;
}

/* line 21, ../sass/elements/_tables.scss */
.th {
  font-weight: bold;
  display: table-cell;
  text-align: center;
}

/* line 1, ../sass/elements/_slider.scss */
#slides {
  display: none;
  position: relative;
}
/* line 4, ../sass/elements/_slider.scss */
#slides img {
  width: 100%;
  display: block;
}

/* line 10, ../sass/elements/_slider.scss */
#slides .slidesjs-navigation {
  margin-top: 3px;
}

/* line 14, ../sass/elements/_slider.scss */
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

/* line 19, ../sass/elements/_slider.scss */
#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

/* line 24, ../sass/elements/_slider.scss */
.slidesjs-pagination {
  bottom: 10px;
  position: absolute;
  text-align: center;
  z-index: 10;
  right: 0;
  height: 10px;
  margin-right: 15px;
}

/* line 34, ../sass/elements/_slider.scss */
.slidesjs-pagination li {
  display: inline-block;
  margin: 0 3px;
}

/* line 39, ../sass/elements/_slider.scss */
.slidesjs-pagination li a {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: none 0.3s ease-in-out;
  -moz-transition: none 0.3s ease-in-out;
  -o-transition: none 0.3s ease-in-out;
  transition: none 0.3s ease-in-out;
  text-indent: -9999em;
  outline: none;
  border: 1px solid #43a6c7;
  background: #287a9f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #287a9f 0%, #13688d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #287a9f), color-stop(100%, #13688d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #287a9f 0%, #13688d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #287a9f 0%, #13688d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #287a9f 0%, #13688d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #287a9f 0%, #13688d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#287a9f', endColorstr='#13688d',GradientType=0 );
  /* IE6-9 */
}

/* line 62, ../sass/elements/_slider.scss */
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active,
.slidesjs-pagination li a:hover {
  border-color: #ff7835;
  background: #ff5400;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff5400 0%, #bc3e00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5400), color-stop(100%, #bc3e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff5400 0%, #bc3e00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff5400 0%, #bc3e00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff5400 0%, #bc3e00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff5400 0%, #bc3e00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5400', endColorstr='#bc3e00',GradientType=0 );
  /* IE6-9 */
}

/* line 75, ../sass/elements/_slider.scss */
.navbar {
  overflow: hidden;
}

/* line 79, ../sass/elements/_slider.scss */
#slides {
  display: none;
}

/* line 83, ../sass/elements/_slider.scss */
.container {
  margin: 0 auto;
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  /* line 89, ../sass/elements/_slider.scss */
  .container {
    width: auto;
  }
}
/* For smartphones */
@media (max-width: 480px) {
  /* line 96, ../sass/elements/_slider.scss */
  .container {
    width: auto;
  }
}
/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 103, ../sass/elements/_slider.scss */
  .container {
    width: 724px;
  }
}
/* For larger displays */
@media (min-width: 1200px) {
  /* line 110, ../sass/elements/_slider.scss */
  .container {
    width: 1170px;
  }
}
/* CARUSEL */
/* line 119, ../sass/elements/_slider.scss */
.jcarousel-skin-tango {
  margin: 0 0 30px;
  overflow: hidden;
  /* тут поставь высоту что бы при отключенных скриптах не плыло  */
}

/* line 120, ../sass/elements/_slider.scss */
.jcarousel-skin-tango li {
  float: left;
}

/* line 124, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl {
  direction: rtl;
}

/* line 127, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-container-horizontal {
  padding: 0px 40px;
}

/* line 130, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

/* line 133, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  height: 100px;
}

/* line 136, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-item {
  width: 100px;
  height: 100px;
}

/* line 140, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
}

/* line 143, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-right: 0;
}

/* line 146, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

/**
 *  Horizontal Buttons
 */
/* line 153, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 28px;
  right: 15px;
  width: 20px;
  height: 43px;
  cursor: pointer;
  background: url(../img/arrow-right.png) no-repeat;
}

/* line 162, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(../img/arrow-right.png);
}

/* line 169, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 28px;
  left: 5px;
  width: 20px;
  height: 43px;
  cursor: pointer;
  background: url(../img/arrow-left.png) no-repeat;
}

/* line 179, ../sass/elements/_slider.scss */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(../img/arrow-right.png);
}

/* CARUSEL */
/* line 189, ../sass/elements/_slider.scss */
.content-galery-small {
  display: none;
}
/* line 191, ../sass/elements/_slider.scss */
.content-galery-small .big-pic {
  float: left;
  width: 48%;
}
/* line 195, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery {
  float: right;
  width: 48%;
}
/* line 198, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery li {
  position: relative;
  height: 170px;
  overflow: hidden;
  padding: 0;
}
/* line 203, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery li a {
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
/* line 207, ../sass/elements/_slider.scss */
.content-galery-small .photo-galery li a:last-child {
  bottom: -10px;
  left: 95px;
  position: absolute;
}

/* line 1, ../sass/elements/_buttons.scss */
.btn {
  display: inline-block;
}
/* line 3, ../sass/elements/_buttons.scss */
.btn.medium {
  height: 35px;
  line-height: 33px;
  font-size: 14px;
  padding: 0 15px;
}
/* line 9, ../sass/elements/_buttons.scss */
.btn.small {
  line-height: 28px;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
/* line 15, ../sass/elements/_buttons.scss */
.btn.orange {
  background: #ff5400;
  border: 1px solid #c84200;
  color: #fff;
}
/* line 20, ../sass/elements/_buttons.scss */
.btn.blue {
  background: #44a4d5;
  border: 1px solid #2a85b4;
  color: #fff;
}

/* line 2, ../sass/elements/_form.scss */
.form-field label {
  display: block;
  font-size: 14px;
  margin: 0 0 5px;
}

/* line 1, ../sass/elements/_registration-popup.scss */
.registration-popup {
  position: absolute;
  top: 35px;
  right: -30px;
  z-index: 2;
}

/* line 7, ../sass/elements/_registration-popup.scss */
.registration-popup-section {
  width: 350px;
  border-radius: 5px;
  background: #f8f8f8;
  border: 8px solid rgba(0, 0, 0, 0.08);
  background: #fff;
  display: none;
}
/* line 14, ../sass/elements/_registration-popup.scss */
.registration-popup-section .header {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f8f8f8;
}
/* line 19, ../sass/elements/_registration-popup.scss */
.registration-popup-section .header strong, .registration-popup-section .header a {
  font-size: 13px;
}
/* line 22, ../sass/elements/_registration-popup.scss */
.registration-popup-section .header a {
  color: #3995c5;
  text-decoration: underline;
}
/* line 25, ../sass/elements/_registration-popup.scss */
.registration-popup-section .header a:hover, .registration-popup-section .header a:focus {
  text-decoration: none;
}
/* line 29, ../sass/elements/_registration-popup.scss */
.registration-popup-section .header .icons-close-button-gray {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}
/* line 35, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container {
  padding: 20px;
}
/* line 37, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container input[type='email'], .registration-popup-section .registration-input-container input[type='text'], .registration-popup-section .registration-input-container input[type='password'] {
  height: 35px;
  line-height: 33px;
  padding: 0 30px 0 10px;
  color: #999;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(153, 153, 153, 0.4) inset;
  width: 100%;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
/* line 50, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container input[type='email']:focus, .registration-popup-section .registration-input-container input[type='email']:hover, .registration-popup-section .registration-input-container input[type='text']:focus, .registration-popup-section .registration-input-container input[type='text']:hover, .registration-popup-section .registration-input-container input[type='password']:focus, .registration-popup-section .registration-input-container input[type='password']:hover {
  box-shadow: none;
}
/* line 54, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .user-icon, .registration-popup-section .registration-input-container .password-icon {
  position: relative;
}
/* line 56, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .user-icon:after, .registration-popup-section .registration-input-container .password-icon:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 1;
  top: 10px;
}
/* line 67, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .user-icon:after {
  background-position: 0 -161px;
  right: 10px;
}
/* line 73, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .password-icon:after {
  background-position: 0 -186px;
  right: 7px;
}
/* line 78, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container input[type='submit'] {
  cursor: pointer;
  text-align: center;
  width: 90px;
  line-height: 28px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  color: #444;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 white inset;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ececec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #ececec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
  /* IE6-9 */
  font-weight: bold;
}
/* line 98, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container input[type='submit']:hover {
  box-shadow: none;
}
/* line 102, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .forgot-password {
  line-height: 18px;
  font-size: 11px;
}
/* line 105, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .forgot-password a {
  display: block;
  text-decoration: underline;
}
/* line 108, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .forgot-password a:hover {
  text-decoration: none;
  color: #0D75B0;
}
/* line 113, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .forgot-password label {
  color: #000000;
}
/* line 115, ../sass/elements/_registration-popup.scss */
.registration-popup-section .registration-input-container .forgot-password label input {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* line 1, ../sass/elements/_filter-catalog.scss */
.filter-catalog {
  background: #f3f3f3 url(../img/page/car.jpg) no-repeat 100% 100%;
  padding: 30px;
  border: 1px solid #d6d6d6;
}
/* line 6, ../sass/elements/_filter-catalog.scss */
.filter-catalog select {
  height: 28px;
  line-height: 26px;
  border: 1px solid #c7c7c7;
  padding: 5px 5px 5px 10px;
  width: 100%;
  color: #000;
}

/* line 1, ../sass/_main.scss */
.white-block {
  position: relative;
  padding: 20px 15px 15px;
  background: #fff;
  margin-bottom: 10px;
}

/* line 7, ../sass/_main.scss */
.blue-bullet {
  margin-bottom: 20px;
}
/* line 9, ../sass/_main.scss */
.blue-bullet li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 5px;
}
/* line 13, ../sass/_main.scss */
.blue-bullet li:before {
  content: "";
  background-position: 0 -176px;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 3px;
}

/* line 24, ../sass/_main.scss */
.helvetica-tin {
  font-family: helvetica-thin;
}

/* line 27, ../sass/_main.scss */
.helvetica-mid {
  font-family: helvetica-medium;
}

/* line 30, ../sass/_main.scss */
.helvetica-bold {
  font-family: helvetica-bold;
}

/* line 33, ../sass/_main.scss */
.s20 {
  font-size: 20px;
  line-height: 1;
}

/* line 37, ../sass/_main.scss */
.s21 {
  font-size: 21px;
  line-height: 1;
}

/* line 41, ../sass/_main.scss */
.s22 {
  font-size: 22px;
  line-height: 1;
}

/* line 45, ../sass/_main.scss */
.s23 {
  font-size: 23px;
  line-height: 1;
}

/* line 49, ../sass/_main.scss */
.s24 {
  font-size: 24px;
  line-height: 1;
}

/* line 53, ../sass/_main.scss */
.s25 {
  font-size: 25px;
  line-height: 1;
}

/* line 57, ../sass/_main.scss */
.s26 {
  font-size: 26px;
  line-height: 1;
}

/* line 61, ../sass/_main.scss */
.s27 {
  font-size: 27px;
  line-height: 1;
}

/* line 67, ../sass/_main.scss */
.white-block .s27.helvetica-tin {
  color: #0e709d;
}
/* line 70, ../sass/_main.scss */
.white-block .s22.helvetica-mid {
  color: #000;
}
/* line 73, ../sass/_main.scss */
.white-block .s24.helvetica-mid {
  color: #000;
}

/* line 78, ../sass/_main.scss */
.partners-section {
  text-align: center;
}
/* line 80, ../sass/_main.scss */
.partners-section img {
  display: inline-block;
  margin: 0 10px 5px 0;
}

/* line 85, ../sass/_main.scss */
.title {
  font-size: 20px;
  font-family: helvetica-bold;
}
/* line 88, ../sass/_main.scss */
.title.orange {
  color: #ff5400;
}

/* line 93, ../sass/_main.scss */
.brand-parts {
  background: #fff;
  border: 1px solid #d6d6d6;
  border-top: none;
  padding: 20px 20px 5px;
  margin: 0 0 10px;
}
/* line 101, ../sass/_main.scss */
.brand-parts .brand-section table {
  width: 100%;
}
/* line 104, ../sass/_main.scss */
.brand-parts .brand-section table tr td {
  padding: 5px 0;
  text-align: center;
}
/* line 107, ../sass/_main.scss */
.brand-parts .brand-section table tr td img {
  max-width: 100%;
  max-height: 100%;
}
/* line 116, ../sass/_main.scss */
.brand-parts.closed .icons {
  background-position: 0 -251px;
}
/* line 119, ../sass/_main.scss */
.brand-parts.closed .brand-section {
  display: none;
}

/* line 124, ../sass/_main.scss */
.triger-brand {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 132, ../sass/_main.scss */
.triger-brand .icons {
  top: -4px;
  position: relative;
}

/* line 137, ../sass/_main.scss */
.popular-shop {
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 20px;
  margin: 0 0 10px;
}
/* line 142, ../sass/_main.scss */
.popular-shop .shop-section {
  margin: 0 -10px;
}
/* line 144, ../sass/_main.scss */
.popular-shop .shop-section .shop {
  float: left;
  margin: 0 10px 20px;
  width: 294px;
}
/* line 148, ../sass/_main.scss */
.popular-shop .shop-section .shop .logo-holder {
  margin: 0 0 10px;
}
/* line 150, ../sass/_main.scss */
.popular-shop .shop-section .shop .logo-holder img {
  display: block;
  width: 100%;
}
/* line 156, ../sass/_main.scss */
.popular-shop .shop-section .shop .shop-discription .icons {
  float: right;
  position: relative;
  top: 3px;
}
/* line 161, ../sass/_main.scss */
.popular-shop .shop-section .shop .shop-discription strong {
  display: block;
}
/* line 164, ../sass/_main.scss */
.popular-shop .shop-section .shop .shop-discription a {
  display: block;
}

/* line 172, ../sass/_main.scss */
.white-section {
  padding: 20px;
  background: #fff;
}

/* line 176, ../sass/_main.scss */
.shop-links {
  position: absolute;
  right: 0;
  top: 16px;
  height: 24px;
  line-height: 22px;
  padding: 0 10px;
  color: #fff;
  background: #0d75b0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
/* line 187, ../sass/_main.scss */
.shop-links:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 1300px) {
  /* line 9, ../sass/layouts/_adaptive.scss */
  #sv-header .header-mid .header-mid-inn .search .search-mid-block .search-discription {
    line-height: 14px;
    margin-top: 2px;
  }

  /* line 19, ../sass/layouts/_adaptive.scss */
  .right-side-bar {
    position: static;
    width: auto;
    margin-left: 300px;
    width: 650px;
  }
}
