.sv-page {
	position: relative;
}
.white-block {
	position:relative;
	padding:20px 15px 15px;
	background: #fff;
	margin-bottom:10px;
}
.bullet-list {
	margin-bottom:20px;
	li {
		padding-left:20px;
		position: relative;
		margin-bottom:5px;
		&:before {
			content:"";
			position: absolute;
			left:0;
		}
	}
	&.blue-bullet {
		li:before {
			@include icons-sprite(list-arrow);
			height:10px;
			width:10px;
			top:3px;
		}
	}
	&.line-bullet {
		li:before {
			@include icons-sprite(line-arrow);
			height:2px;
			width:12px;
			top:9px;
		}
	}

	&.anchor {
		padding-bottom:20px;
		border-bottom:1px solid #8a8a8a;

	}
}

.helvetica-tin  {
	font-family: helvetica-thin;
}
.helvetica-mid  {
	font-family: helvetica-medium;
}
.helvetica-bold  {
	font-family: helvetica-bold;
}
.s20 {
	font-size:20px;
	line-height:1;
}
.s21 {
	font-size:21px;
	line-height:1;
}
.s22 {
	font-size:22px;
	line-height:1;
}
.s23 {
	font-size:23px;
	line-height:1;
}
.s24 {
	font-size:24px;
	line-height:1;
}
.s25 {
	font-size:25px;
	line-height:1;
}
.s26 {
	font-size:26px;
	line-height:1;
}
.s27 {
	font-size:27px;
	line-height:1;
}

.white-block {
	.s27.helvetica-tin {
		color:#0e709d;
	}
	.s22.helvetica-mid {
		color:#000;
	}
	.s24.helvetica-mid {
		color:#000;
	}
}

.partners-section {
	//text-align: center;
	img {
		display:inline-block;
		margin:0 10px 5px 0
	}
}
.title {
	font-size:20px;
	font-family: helvetica-bold;
}

.brand-parts {
	background: #fff;
	border:1px solid #d6d6d6;
	border-top:none;
	padding:20px 20px 5px;
	margin:0 0 10px;

	.brand-section {
		table {
			width:100%;
			tr {
				td {
					padding:5px 0;
					text-align:center;
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}
	&.closed {
		.icons {
			@include icons-sprite(arrow-closed);
		}
		.brand-section {
			display:none;
		}
	}
}
.triger-brand {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.icons {
		top:-4px;
		position: relative;
	}
}
.popular-shop {
	background: #fff;
	border:1px solid #d6d6d6;
	padding:20px;
	margin:0 0 10px;
	.shop-section {
		margin:0 -10px;
		.shop {
			float: left;
			margin: 0 10px 20px;
			width: 294px;
			.logo-holder {
				margin:0 0 10px;
				img {
					display:block;
					width:100%;
				}
			}
			.shop-discription {
				.icons {
					float:right;
					position: relative;
					top:3px;
				}
				strong {
					display:block;
				}
				a {
					display:block;
				}
			}
		}
	}
}

.white-section {
	padding:20px;
	background: #fff;
}
.shop-links {
	position:absolute;
	right:0;
	top:16px;
}
.shop-links, .btn-blue-small {
	text-decoration: none;
	display:inline-block;
	height:24px;
	line-height:22px;
	padding:0 10px;
	color:#fff;
	background: #0d75b0;
	border:1px solid #076194;
	border-radius:5px;
	&:hover {
		text-decoration: none;
		color:#fff;
		background: #ff5400;
		border-color:#d2d2d2;
	}
}

.orange {
	color:#ff5400;
}
.title2 {
	font-size:14px;
	font-weight:bold;
	color:#ff5400;
}

.round-pic {
	position:relative;
	.pic-holder {
		border-radius:100px;
		overflow: hidden;
		margin:0 0 10px;
	}
	.sign {
		> img {
			float:left;
			margin-right:10px;
		}
		>div {
			color: #444444;
			font-style: italic;
			line-height: 14px;
			position: relative;
			top: 50px;
			strong {
				display:block;
				font-style:normal;
			}
		}
	}
}

.register-thanks-text {
	padding-top:25px;
	p:first-child {
		font-size:22px;
		color:#3c9aca;
		line-height:28px;
	}
	p {
		color:#444;
	}

}
.anchor-block {
	margin:0 0 30px;
}

.dashboard {
	vertical-align: middle;
	width:100%;
	font-size:11px;
	margin:0 0 20px;
	thead {
		color:#fff;
		td {
			background: #0d75b0;
		}
	}
	tbody {
		color:#000;
		td {
			background: #f2f2f2;
		}
		.odd {
			td {
				background: #f9f9f9;
			}
		}
	}
	td {
		padding:8px;
		border:1px solid #fff;
		.cancel {
			color:#c30909;
		}
		.payed {
			color:#377703;
		}
		a {
			font-size: 12px;
		}
		.icons-loop {
			position: relative;
			top:3px;
			left:-3px;
		}
	}
}
.icons-pencil, .icons-delete-cross {
	cursor: pointer;
}
.delivery-img {
	margin:10px 0;
	img {
		max-width: 100%;
	}
}

.order-table {
	vertical-align: middle;
	width:100%;
	margin:0 0 10px;
	thead {
		color:#000;
		td {
			box-shadow: 0 0 0 1px  #d6d6d6 inset;
			background: #ececec; /* Old browsers */
			background: -moz-linear-gradient(top,  #ececec 0%, #dddddd 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ececec 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ececec 0%,#dddddd 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ececec 0%,#dddddd 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ececec 0%,#dddddd 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

		}
	}
	tbody {
		color:#000;
		td {
			background: #f2f2f2;
		}
		.odd {
			td {
				background: #f9f9f9;
			}
		}
	}
	td {
		padding:8px;
		border:1px solid #fff;
		border-radius:3px;
		&:first-child {
			text-align: center;
		}
		input.mr5.w50 {
			text-align: center;
		}
	}
}
.brd-b {
	border-bottom:1px solid #cdcdcd;
}
.shoping-toolbar {
	height:55px;
	position: fixied;
	top:0;
	left:0;
	width:100%;
	color:#fff;
	background: #000;

	.logo {
		float:left;
		line-height: 55px;
		padding-top:5px;
		margin:0 20px;
		img {
			display: inline-block;
		}
	}
	.discription {
		float:left;
		line-height: 55px;
		font-size:16px;
	}
	.cart-section {
		margin-top:5px;
		width:auto;
		&:after {
			display:none;
		}
		.cart{
			border:none;
			.cart-title > div strong {
				color:#fff;
			}
		}
	}
	.toolbar-cart {
		float:right;
		margin-right:15px;
		padding-top:8px;
		padding-left:15px;
		position: relative;
		.icons {
			top:15px;
			left:0;
			position: absolute;
		}
	}
	.add {
		float:right;
		color:#fff;
		text-decoration: none;
		font-size:13px;
		background: #7ea40b;
		display:block;
		line-height:50px;
		height:55px;
		padding:0 15px;
		img {
			position: relative;
			top:4px;
			margin-right:10px;
		}
	}

}
.shoping-body {
	margin-top:55px;
}
.banner {
	margin: 0 0 20px;
	img {
		max-width: 100%;
	}
}
.brandsection {
	margin:0 0 30px;
	.img-holder {
		float:left;
		max-width: 75px;
		margin-right:15px;
	}
	.content {
		float:left;
		.title {
			font-size:32px;
			font-family: helvetica-bold;
			line-height:32px;
			color:#000;
			margin:0 0 5px;
		}
		.title + p {
			font-size:18px;
			color:#434343;
		}
		.link {
			font-size:27px;
			font-family: helvetica-bold;
			line-height:27px;
			margin:0 0 10px;
			.icons {
				margin-right:5px;
			}

		}
	}
}
.wanna-order-container {
	border:1px solid #c8c8c8;
	padding:20px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: relative;
	font-size:16px;
	color:#313131;
	p:first-child {
		color: #115D88;
		font-size: 21px;
		font-weight: bold;
		line-height: 24px;
		margin: 0 0 20px;
	}
	.arrow {
		bottom: -50px;
		position: absolute;
		right: -30px;
	}
}
.wanna-order-video {
	img {
		max-width: 100%;
		margin:0 0 20px;
		display: block;
		display:block;
	}
	font-size:17px;
	color:#313131;
	text-align:center;
}

.list-container {
	padding-right:20px;
	img {
		max-width:100%;
		height: 90px;
		margin:0 0 10px;
	}
	.title {
		font-size:14px;
		color:#000;
		font-family: arial;
		margin:0 0 10px;
	}
	li {
		margin:0 0 3px;
	}
	a {
		text-decoration: underline;
	}

}

.top-mounth {
	padding-right:10px;
	margin:0 20px 20px 0;
	a {
		display:block;
		position: relative;
		padding-top:175px;

		span {
			position: absolute;
			top:0;
			left:0;
			height:160px;
			width:100%;
			img {
				position: absolute;
				bottom:0;
				left:0;
				max-width: 100%;
				max-height:100%;
			}
		}

	}
}
.blue-title {
	font-family: helvetica-bold;
	font-size:30px;
	line-height:32px;
	color:#0d75b0;
}
.sorting-content {
	background: #f2f2f2;
	padding:10px;
	margin:0 0 20px;
	.row {
		position: relative;
	}
}
.sorting-nav {
	li {
		padding:10px;
		border:1px solid #f2f2f2;
		border-right:none;
		font-size:12px;
		color:#000;
		line-height: 14px;
		cursor: pointer;
		position: relative;
		z-index: 1;
		&.active {
			cursor: default;
			background:#fff;
			border-color:#cccccc;
			margin-right:-1px;
		}
	}
}
.sorting-body {
	height: 100%;
	position: absolute;
	right: 0;
	> div {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #CCCCCC;
		display: none;
		height: 100%;
		margin-left: -1px;
		padding: 10px;
		position: absolute;
		right: 0;
		width: 100%;

	}
	.brands-sorting {
		> div {
			height:50px;
			line-height:50px;
			margin:0 5px 5px;
			float:left;
			overflow: hidden;
			img {
				display:inline-block;
			}
		}
	}
}
.special-text {
	text-decoration: underline;
	font-size: 14px;
	color:#0D75B0;
}

.simular-items, .list-box {
	margin:0 -10px;
	.item {
		padding:15px;
		border:1px solid #d2d2d2;
		margin:0 10px 20px;
		position: relative;
		.title {
			display:block;
			font-size:14px;
			&:hover {
				text-decoration: underline;
			}
			img {
				display:block;

				max-width:100%;
				max-height:110px;
			}
		}
		.favorite {
			@include transition(none);
			&.active .icons, &:hover .icons {
				@include icons-sprite(favorite);
			}
		}
		.price {
			text-align:center;
			color:#000;
			display:inline-block;
			vertical-align: middle;
			strong {
				display:block;
				font-size:18px;
			}
		}
		.add-to-cart {
			background: none repeat scroll 0 0 #FF5400;
			border-color: #D2D2D2;
			border-radius: 5px 5px 5px 5px;
			color: #FFFFFF;
			display: inline-block;
			height: 24px;
			line-height: 24px;
			padding: 0 10px;
			text-decoration: none;
		}
	}
}
.lists {
	.sort-header {
		margin:-20px 0 20px;
		.t-center {
			display:none;
		}
	}
	.list-box {
		.item {
			position: relative;
			margin-bottom:-1px;
			min-height:140px;
			padding-left:100px;
			&:after {
				content:"";
				display:table;
				clear:both;
			}
			&:nth-child(odd) {
				background: #f6f6f6;
			}
			.title {
				position:relative;
				img {
					position: absolute;
					left: -85px;
					top:0;
				}
			}
			.text {
			}
			.price-holder {
				position: absolute;
				top:50%;
				margin-top:-45px;
				right:20px;
				.price {
					margin:0 0 5px;
					display:block;
				}
			}
		}
		.price-holder {
			float:right;
		}
	}
}
.blocks {
	.list-box {
		.item {
			float:left;
			width:30.12%;
			text-align:center;
			&:hover {
				background: #f6f6f6;
			}
			.favorite {
				position:absolute;
				top:8px;
				right:8px;
				.text {
					display:none;
				}
			}
			img {
				margin:0 auto 10px;
			}
		}
	}
}
.sort-header {
	margin-top:-20px;
	position: relative;
	padding-right:210px;
	.trigger-shown {
		position: absolute;
		right:0;
		top:-40px;
		line-height: 26px;
	}
	.list-icon, .block-icon {
		background-image: url(../img/tpl/page-triger.png);
		background-repeat:no-repeat;
		display:inline-block;
		width:26px;
		height:26px;
		text-indent: -9999em;
		@include transition(none);
		margin-left:5px;
		&.active {
			cursor: default;
		}
	}
	.list-icon {
		background-position:0 0 ;
		&.active, &:hover {
			background-position: 0 100%;
		}
	}
	.block-icon {
		background-position:100% 0 ;
		&.active, &:hover {
			background-position: 100% 100% ;
		}
	}
	.t-center {
		a {
			font-size:10px;
		}
	}
	.sort-by-block {
		width:37%;
	}
}
.filter {
	background: none repeat scroll 0 0 #FFFFFF;
	float: right;
	padding: 10px 15px 5px;
	position: absolute;
	right: 0;
	top: 67px;
	width: 200px;
	z-index: 2;
	header {
		.title {

			font-family: helvetica-light;
			border-bottom:1px solid #ccc;
			padding-bottom:10px;
		}
	}
	input[type='checkbox'] {
		float: left;
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
	.title2 {
		margin-bottom:5px;
	}
	.form-field + .title2 {
		margin-top:20px;
	}
	label {
		color:#000;
		font-size:12px;
	}
	.range-inputs {
		input[type='text'] {
			width:40px;
			text-align:center;
			margin:0 3px;
			height:22px;
			line-height:20px;
			border:1px solid #929292;
		}
		a{
			border-radius:3px;
			height:22px;
			line-height:22px;
			position: relative;
			top:2px;
			padding:0 5px;
		}
	}
}
.list-grid-pagination {
	padding-right:220px;
}

