.breadcrumbs {
	background: none repeat scroll 0 0 #EDEBE4;
	padding-left: 210px;
	margin-right: -2000px;

	> div {
		max-width: 690px;
		font-size: 12px;
		font-weight: 300;
		height: 52px;
		padding: 17px 0 17px 30px;
		ul {
			float: left;
			li {
				line-height: 18px;
				float: left;
				position: relative;
				padding-right: 25px;
				color: #272e37;
				&:first-child:after {
					content: "";
				}
				&:after {
					content: "/";
					position: absolute;
					left: -14px;
				}
				&.active {
					a {
						color: #87191a;
					}
				}

			}
		}
		.back-return {
			float: right;
			margin-right: 20px;
			&:hover {
				text-decoration: underline;
				color: #272e37;
			}
		}
	}

}
@media (max-width: 980px) {
	.breadcrumbs {
		> div {
			padding:17px 0 17px 40px;
		}

	}
}
@media (max-width: 960px) {
	.breadcrumbs {
		margin-right: 0;
	}
}
