.btn {
	display:inline-block;
	text-decoration: none;
	&.small {
		line-height:28px;
		height:30px;
		padding:0 10px;
		font-size:14px;
	}
	&.medium {
		height:35px;
		line-height:33px;
		font-size:14px;
		padding:0 15px;
	}
	&.large {
		height:48px;
		line-height:46px;
		font-size:18px;
		padding:0 20px;
	}
	&.orange {
		background:#ff5400;
		border:1px solid #c84200;
		color:#fff;
	}
	&.blue {
		background:#44a4d5;
		border:1px solid #2a85b4;
		color:#fff;
	}
}