/*
 * @subsection footer
 */

#sv-footer {
	min-width: 960px;
	.footer-top {
		background:#fff;

		.sosials {
			padding:50px 0 30px;
			margin:0 auto;
			width:650px;
			font-family: helvetica-light;
			text-align: center;
			color:#000;
			a {
				margin:0 10px;
			}
		}
	}
	.footer-mid {
		background: #0d75b0;
		height:60px;
		line-height:60px;
		.inn {
			margin:0 auto;
			width:650px;
		}
		.text {
			text-align:center;
			font-size:18px;
			font-family: Georgia;
			font-style:italic;
			color:#fff;
		}
	}
	.footer-content {
		background: #f7f7f7;
		.inn {
			max-width:1280px;
			min-width: 960px;
			margin:0 auto;
			padding:40px 0 30px;
			.section1 {
				float:left;
				padding-left:25px;
				width:300px;
				.logo {
					margin:0 0 10px;
					img {
						display: block;
						max-width: 100%;
					}
				}
				ul {
					li {
						margin:0 0 5px;
						a {
							color:#000;
							&:hover {
								text-decoration: underline;
								color:#0D75B0;
							}
						}
					}
				}
			}
			.section3 {
				float:right;
				width:310px;
				color:#000;
			}
			.section2 {
				margin:0 340px 0 300px;
				.addr {
					float:left;
					max-width: 300px;
					margin-right:20px;
					color:#000;
					margin-bottom:20px;
					strong {
						display:block;
						margin:0 0 10px;
					}
					a {
						display:block;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.footer-bottom {
		background: #fff;
		.inn {
			max-width:1280px;
			min-width: 960px;
			margin:0 auto;
			padding:20px 0;
			color:#000;
			.section1 {
				float:left;
				width:300px;
				padding-left:25px;
			}
			.section2 {
				margin:-10px 340px 0 300px;
			}
			.section3 {
				float:right;
				width:310px;
			}
		}
	}
}