.side-nav {
	> li {
		position:relative;
		&:first-child {
			> a {
				border-top:none;
			}
		}
		&.active {
			> a {
				color:#de4900;
				font-weight:bold;
				.icons {
					@include icons-sprite(menu-arr-right_hover);
				}
			}
		}
		> a {
			padding:9px 0 8px;
			display:block;
			border-top:1px solid #e0e0e0;
			color:#000;
			position: relative;
			font-size: 14px;
			&:hover {
				color:#de4900;
				text-decoration: none;
				.icons {
					@include icons-sprite(menu-arr-right_hover);
				}
			}

			.icons {
				position: absolute;
				right:12px;
				top:50%;
				margin-top:-5px;
			}

		}
		&:hover ul {
			display:block;
		}

		ul {
			display:none;
			position: absolute;
			left:270px;
			top:0;
			background: #fff;
			padding-left:20px;
			border:1px solid #e0e0e0;
			&:hover {
				display:block;
			}
			li {
				&:first-child {
					a {
						border-top:none;
					}
				}
				a {
					color:#000;
					padding:9px 20px 8px 0;
					display:block;
					border-top:1px solid #e0e0e0;
					width:250px;

					&:hover {
						color:#de4900;
						text-decoration: none;
					}
				}
			}
		}
	}
}