.right-side-bar  {
	z-index: 2;
	.shop-catalog {
		padding:30px 30px 20px;
		background: #3a98c7;
	}

	.side-container {
		background: #fff;
		padding:20px 30px;
		.mb30 {
			.helvetica-tin.black.s22:first-child  {
				margin-bottom:17px;
			}
		}
		.btn.blue.medium {
			.icons {
				position: relative;
				margin-right:5px;
				vertical-align: middle;
				top:-1px;
			}
		}
		.popupal-brands {
			margin:0 -20px 0 -5px;
			.tr {
				> .td {
					padding:5px;
					height:74px;
					width:74px;
					border-radius:5px;
					vertical-align: top;
					.td {
						padding:8px;
						border:1px solid #b8d1db;
						height:64px;
						width:64px;
						vertical-align: middle;
						text-align: center;
						border-radius: 5px;
						line-height:1;
						background: #ffffff; /* Old browsers */
						background: -moz-linear-gradient(top,  #ffffff 0%, #cfcfcf 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #ffffff 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #ffffff 0%,#cfcfcf 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #ffffff 0%,#cfcfcf 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #ffffff 0%,#cfcfcf 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */

						img {
							max-width:48px;
						}
					}
				}
			}

		}
	}

	.support-block {
		.support-top {
			border-bottom:1px solid #fff;
			background: #4d4d4d;
			text-align:center;
			color:#fff;
			.any-question {
				font-family: helvetica-thin;
				font-size:18px;
				line-height:20px;
				padding:30px 0 20px;
				span {
					font-family: helvetica-medium;
				}
			}
			.tels {
				font-size:24px;
				line-height:24px;
				font-family: helvetica-light;
				padding-bottom:30px;
				.tel1 {
					margin-bottom:5px;
					font-family: helvetica-medium;
					font-size:30px;
					line-height: 30px;
				}
			}
			.calls {

				border-top:1px solid #313131;
				a {
					display: block;
					float: left;
					height: 69px;
					line-height: 15px;
					padding-top: 0;
					text-decoration: none;
					&:hover {
						background: #313131;
					}
					&:first-child {
						width: 67.64705882352942%; /* 230 / 340 */
						color:#fff;
						font-weight:bold;
						span {
							color:#b0b0b0;
							font-weight:normal;
							font-style:italic;
						}
						.icons-call {
							 margin-right: 14px;
							position: relative;
							top: 17px;
						}
					}
					&.skype {
						width: 32.35294117647059%; /* 110 / 340 */
						padding-top:21px;
					}
				}
			}

		}
		.support-bottom {
			padding:20px;
			background: #869c0f;
			color:#fff;
			.form-field {
				margin:0 0 10px;
			}
			input[type='text'] {
				width:80%;
				padding:5px;
			}
			textarea {
				width:80%;
				resize:none;
				height:80px;
				padding:5px;
			}
		}
	}
}
