/*========================================
  Global variables
==========================================*/
// fonts 'helvetica-bold', 'helvetica-medium', 'helvetica-thin', 'helvetica-light'
//@import "icons/*.png";
//@include all-icons-sprites(true);
$font-size: 12px;
$line-height: 18px;
/* 18px */
$bg: #f7f7f7;
$text-color: #7f7f7f;
$font-family: Arial, Helvetica, sans-serif;
$color-link: #0d75b0;
$color-link-hover: #de4900;
$page-width: 960;

@mixin transition($prp: all, $time: .3s) {
	-webkit-transition: $prp $time ease-in-out;
	-moz-transition: $prp $time ease-in-out;
	-o-transition: $prp $time ease-in-out;
	transition: $prp $time ease-in-out;
}