/*========================================
  Global variables
==========================================*/
// fonts 'helvetica-bold', 'helvetica-medium', 'helvetica-thin', 'helvetica-light'
//@import "icons/*.png";
//@include all-icons-sprites(true);
$font-size: 13px;
$line-height: 18px;
/* 18px */
$bg: #e2e6e9 url(../img/tpl/bg-top.jpg) no-repeat 50% 0;
$text-color: #7a7a7a;
$font-family: Arial, Helvetica, sans-serif;
$color-link: #306dab;
$color-link-hover: #306dab;
$page-width: 960;

@mixin transition($prp: all, $time: .3s) {
	-webkit-transition: $prp $time ease-in-out;
	-moz-transition: $prp $time ease-in-out;
	-o-transition: $prp $time ease-in-out;
	transition: $prp $time ease-in-out;
}