html, body {
	height: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#sv-wrapper {
	max-width: 1280px;
	min-height: 100%;
	padding:10px 10px 0;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

/*
 * @subsection header
 */

/*
 * @subsection middle
 */

#sv-middle {
	width: 100%;
	padding: 0 0 20px;
	position: relative;
}

#sv-container {
	width: 100%;
	float: left;
	position: relative;
	z-index: 1;
}

#sv-content {
	padding: 0 300px 0 300px;

}

#sv-content-lc {
	padding: 0 0 0 300px;
	width:950px;

}

#sv-content-rc {
	padding: 0 300px 0 0;

}

#sv-content-full {
	padding: 0;
	width:950px;
}
/*
 * @subsection left sidebar
 */

#sv-leftcolumn {
	float: left;
	width: 290px;
	margin-left: -100%;
	position: relative;
	z-index: 2;
}

/*
 * @subsection right sidebar
 */

#sv-rightcolumn {
	float: left;
	width: 290px;
	margin-left: -290px;
}
.right-side-bar {
	position: absolute;
	top:10px;
	left:960px;
	width:300px;
}


/*
 * @subsection media print
 */



@media print {
	#sv-leftcolumn,
	#sv-footer,
	#mainnav,
	#sv-rightcolumn {
		display: none;
	}
	#sv-container {
		float: none;
	}
	#sv-content,
	#sv-content-lc,
	#sv-content-rc,
	#sv-content-full {
		width: 100%;
		padding: 0;
	}
}

